* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';

  background:#BFD7E4;
}


body::before {
  content: '';
  width: 1940px;
  height: 465px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

header h1 {
  margin-top: 107px;
  margin-bottom: 0;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  color: #FFFFFF;
}

header p{
  margin-top: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 

  color: #FFFFFF;
}

.stars img{
  
  width: 225px;
  
  margin-top: 17px;
  
}

.top {
  margin-top: 32px;
  

  width: 750px;
  height: 133px;
  left: 1096px;
  top: 465px;

  background: #F67669;
  border-radius: 0px 0px 20px 20px;
  transform: rotate(-180deg);
  }

.top h1 {
  margin-top: 50px;
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  transform: rotate(-180deg);


  color: #FFFFFF;
}

form {
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  min-height: 300px;

  padding: 64px;
  
  margin-bottom: 30px;
}

fieldset  {
  border: none;
}

.human {
  display: flex;

  gap: 22px;
  
 
}

.name input, .input-wrapper select {
  
  margin-top: 8px;
  background: #FAFAFC;
  box-sizing: border-box;
  padding-top: 8px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  width: 300px;
  
  padding:  0  24px;
}

.lastname input{
  margin-top: 8px;
  background: #FAFAFC;
  box-sizing: border-box;
  padding-top: 8px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  width: 300px;
  
  padding:  0  24px;
}

.letter  {
  padding-top: 15px;
}

.letter span{
  color: #C1BCCC;

  gap: 9px;

  
}
.letter input {
  width: 622px;
  height: 56px;

  margin-top: 8px;
  background: #FAFAFC;
  box-sizing: border-box;
  padding-top: 8px;
  

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  margin-bottom: 16px;

  padding:  0  24px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}



.input-wrapper legend, legend {

  display: flex;
  flex-direction: column;
  text-align: center;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  
  margin-top: 31px;
  margin-bottom: 7px;


  color: #253B51;

}

.border {
  border-bottom: 1px solid #E6E6F0;
}

.input-wrapper label {

  margin-top: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  


  color: #4E4958;

}

.input-wrapper input {
  margin-top: 8px;
  background: #FAFAFC;
  box-sizing: border-box;
  padding-top: 8px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;

  width: 300px;
  
  padding:  0  24px;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback label {
  margin-top: 31px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  


  color: #4E4958;
}

.feedback input, .feedback textarea {
  margin-top: 7px;
  background: #FAFAFC;
  
  width: 608px;
  height: 166px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 10px  24px;
}


.box {
  margin-top: 29px;
  display: flex;

  position: relative;
}

.box input {
  position: absolute;

  width: 24px;
  height: 23px;

  opacity: 0;
}

.box label {
  display: flex;
  gap: 8px;
}

.box label::before {
  display: block;

  content: '';
  width: 24px;
  height: 23px;

  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.box input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_707_20)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%23F67669'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_707_20'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.box input:focus + label::before {
  outline: 2px solid black;
}

.mentor legend {
  margin-top: 36px;
  padding-bottom: 10px;

  border-bottom: 1px solid #E6E6F0;
}

.agendamento {
  margin-top: 31px;
  
  display: flex;

  gap: 32px;
}



.data span {
  color: #C1BCCC;

  gap: 6px;
}

.data input {
  
  width: 300px;
  height: 55px;

  background: #FAFAFC;


  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 0 24px;
}

.begin input {
  width: 140px;
  height: 55px;

  background: #FAFAFC;


  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 0 24px;
}

.end input {
  width: 140px;
  height: 55px;

  background: #FAFAFC;


  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 0 24px;
}

.button {
  margin-top: 63px;

  width: 622px;
  height: 51px;
  border-radius: 8px;
  border: none;

  font-family: 'Staatliches';
  
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  


  color: #FFFFFF;

  background: #F67669;  
}

.button:hover {
  background: #d53422;
}

